<div *ngIf="products.length > 0">
  <h2>Listado de Productos</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" [src]="product.imagen" alt="{{ product.nombre }}">
        <div class="card-body">
          <h2 class="card-title">{{ product.nombre }}</h2>
          <p class="card-text">{{ product.descripcion }}</p>
          <p class="card-text">{{ product.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="products.length === 0">
  <p>No hay productos disponibles.</p>
</div>

